<!--<md-progress-circle mode="indeterminate"></md-progress-circle>-->
<search (displayUserRequest)='user=$event'></search>

<div *ngIf='user' class='container'>
	<div class="row">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-12">
					<avatar [avatarUrl]='user.avatar_url'></avatar>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<info [user]="user"></info>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<!--<repos [repos]='foundUser?.repos'></repos>-->
		</div>
	</div>