<!--<md-progress-circle mode="indeterminate"></md-progress-circle>-->
<search (displayReposRequest)='repos=$event' (displayUserRequest)='user=$event'></search>

<div class='container'>
	<div class="row">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-12">
					<avatar *ngIf='user' [avatarUrl]='user.avatar_url'></avatar>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<info *ngIf='user' [user]="user"></info>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<repos *ngIf='repos' [repos]='repos'></repos>
		</div>
	</div>